.drop-toggle{
  background-color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  border: 0;
  border-bottom: 1px solid #2962FF;
  width: 100%;
  text-align: left;
}
.drop-show {
  height: 122px;
  overflow-y: scroll;
  padding: 4px;
  width: 329px;
  background-color: #FFF;
  border: 1px solid #BABABA;
  position: absolute;
  z-index: 100;
  -webkit-box-shadow: 0 6px 10px rgba(0,0,0,.15);
  -moz-box-shadow: 0 6px 10px rgba(0,0,0,.15);
  box-shadow: 0 6px 10px rgba(0,0,0,.15);
  margin-left: 1px;
}
.drop-show label{
  display:block;
  font-size:15px;
  cursor: pointer;
}
.drop-show label input{
  vertical-align: top;
}
.drop-show label span{
  display:inline-block;
}
